@model List<Department>
  @{
    ViewData["t"]= "Department List";
  }
<h2>Departments</h2>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">DepartmentName</th>
       <th scope="col">DepartmentNo</th>
        <th scope="col">Floor</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>

    @foreach (var department in Model)
    {    <tr>
        <th scope="row">@department.Id</th>
        <td>
          
          <a href="/department/detail?id=103">@department.DepartmentName</a>
         
            
</td>
    
        
         <td>@department.DepartmentNo</td>
          <td>@department.Floor</td>
        <td>@department.Salary</td>
    </tr>
    }
  </tbody>
</table>